<div class="field box tabular">
  <p style="float:right; margin-right:1em;">
    <%= f.link_to_remove image_tag 'false.png' %>
  </p>
  <p><%= f.label :label %><%= f.text_field :label %></p>
  <p><%= f.label :number %><%= f.telephone_field :number %></p>
</div>
