  <%= f.hidden_field :project_id, value: @project.id  %>
  <p><%= f.label :pp_relationship %><%= f.text_field :pp_relationship %></p>
  <p><%= f.label :is_project_owner %><%= f.check_box :is_project_owner %></p>
