<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jp_address', :plugin => 'redmine_jp_address' %>
<% end %>
<div class="contextual">
  <% if @project.present? %>
    <%= link_to l(:edit), edit_project_jp_person_path, class: 'icon icon-edit' %> | 
  <% else %>
    <%= link_to l(:edit), edit_jp_person_path, class: 'icon icon-edit' %> | 
  <% end %>
  <%= link_to l(:delete), @person, method: :delete,
    data: { confirm: t(:delete_confirm_message, name: @person.name) }, 
    class: 'icon icon-del' %> | 
  <%= link_to l(:back), :back  %>
</div>

<h2><%= t(:show_person, name: @person.name) %></h2>
<div class="box">
  <h3><%= l(:basic_info) %></h3>
  <p><%= @person.name %></p>
  <p><%= @person.kana %></p>
</div>
<% if @person.jp_addresses.present? %>
  <div class="box">
    <h3><%= l(:address_info) %></h3>
    <% @person.jp_addresses.each do |address| %>
      <h4><%= address.label %></h4>
      <p>〒 <%= address.zip_code %></p>
      <p><%= address.todofuken %>
      <%= address.address1 %>
      <%= address.address2 %></p>
    <p><%= address.building %></p>
  <% end %>
</div>
 <% end %>
 <% if @person.jp_phone_numbers.present? %>
   <div class="box">
     <h3><%= l(:tel_info) %></h3>
     <% @person.jp_phone_numbers.each do |phone_number| %>
       <h4><%= phone_number.label %></h4>
       <p><%= phone_number.number %></p>
     <% end %>
   </div>
 <% end %>
 <% if @person.jp_e_mails.present? %>
   <div class="box">
     <h3><%= l(:email_info) %></h3>
     <% @person.jp_e_mails.each do |e_mail| %>
       <p><%= e_mail.label %><%= mail_to e_mail.mail_address %></p>
     <% end %>
   </div>
 <% end %>
 <% if @person.memo.present? %>
   <div class="box">
     <h3><%= l(:memo_info) %></h3>
     <div class="wiki">
       <%= textilizable @person.memo %>
     </div>
   </div>
 <% end %>

 <% content_for :sidebar do %>
   <h3>情報</h3>
   <h4>プロジェクトに追加</h4>
   <%= form_for(ProjectsJpPerson.new, remote: true) do |f| %>
     <%= f.hidden_field :jp_person_id, value: @person.id %>
     <p><%= f.collection_select :project_id, Project.allowed_to(User.current), :id, :name %></p>
     <p>関連 <%= f.text_field :pp_relationship %></p>
     <p>プロジェクトオーナー <%= f.check_box  :is_project_owner %></p>
     <p><%= f.submit l(:button_add) %></p>
   <% end %>
   <h4>関連するプロジェクト</h4>
   <div id="projects_jp_people_table">
     <%= render_projects_jp_people @person %>
   </div>
   <% if @project.present? %>
     <h4>このプロジェクトから削除</h4>
     <p>
       <%= link_to l(:delete), @person.projects_jp_people.find_by(project_id: @project.id ), method: :delete,
         data: {confirm: '本当に削除しますか'},
         class: 'icon icon-del'%>
     </p>
   <% end %>
 <% end %>
 <div id="modal_area" class="hidden"></div>
 <% html_title t(:show_person, name: @person.name) %>
